yazi/state/*

lazygit/state.yml

nvim/nvim-data/*

nvim/nvim/support/*
!nvim/nvim/support/FONT
!nvim/nvim/support/friendly-snippets
!nvim/nvim/support/Directionary-8813.dic
!nvim/nvim/support/Directionary-69903.dic
!nvim/nvim/support/github-markdown.css
!nvim/nvim/support/im-select.exe
!nvim/nvim/support/markdown.css
!nvim/nvim/support/markdown_highlight_solarized_dark.css

nvim/nvim/lazy-lock.json

vscode/User/globalStorage/*
vscode/User/History/*
vscode/User/profiles/*
vscode/User/workspaceStorage/*
vscode/User/locale.json

windows-terminal/settings/state.json

