yazi/state/*

lazygit/state.yml

nvim/nvim-data/*
!nvim/nvim-data/Maxl
nvim/nvim-data/Maxl/cache
nvim/nvim-data/Maxl/Org
nvim/nvim-data/Maxl/openai_apikey

nvim/nvim/lazy-lock.json

vscode/User/globalStorage/*
vscode/User/History/*
vscode/User/profiles/*
vscode/User/workspaceStorage/*
vscode/User/locale.json

windows-terminal/settings/state.json

